/*page formatting*/
body {
  background-image: url('/imgs/imitate/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

// .ui.relaxed.grid > .column:not(.row), .ui.relaxed.grid > .row > .column, .ui.grid > .relaxed.row > .column {
//   padding-left: 6rem;
//   padding-right: 6rem;

//   @media screen and (max-width: 767px) {
//     padding: 0rem;
//   }
// }

.imi-title {
  text-align: center;
}

.section-wrapper-intro {
  background: #5C3666;
  margin-top: 1.5rem;
  padding: 2rem;
  border-radius: 20px;
}

.section-wrapper-brainstorming {
  // background: #9A5FAB;
  border-radius: 20px;
  border: 4px solid #FFF;
}

.section-wrapper-hifid {
  background: #5C3666;
  border-radius: 20px;
}

//for section-wrapper-brainstorming padding
.ui.grid > * {
  padding: 2rem;
}

/*footer*/
#icon-top {
  opacity: 1;
}

/*image formatting*/
#mockup-imi, #rs-old, #rs-old-mobile, .tree, #rs-new {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

#rs-old-mobile {
  @media screen and (min-width: 767px) {
    display: none;
  }
}

#rs-old {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.tree-third {
  width: 27%;
  height: fit-content;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

#walkthru-imi {
  width: 50%;
  
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.ui.label {
  border-radius: 30px;
  margin-bottom: .5rem;
}

figure {
  margin: 1em 20px;
}

figcaption {
  text-align: center;
  font-size: 1rem;
  padding-top: 1rem;
  @media screen and (max-width: 767px) {
    padding-top: 0;
  }
}

desc {
  position: absolute;
  top: -9999px;
  left: -9999px;
}


// ul {
// 	font-size: 1.5rem;
// 	// display: flex;
// 	// align-items: center;
// 	list-style-type: circle;
//   line-height: normal;
//   align-items: start;
// 	// padding-left: 0;
// 	// transition: margin .25s, font-size .25s, padding .25s;
// }

// li {
// 	cursor: default;
// 	width: 33%;
//   padding-right: .5rem;
// }